<h1><%=@output_job %></h1>
<p>Success: <%= @result['success'] %></p>
Results:
<table>
<% for (key,value) in @result['result'] %>
    <tr><td><b><%=key%></b></td><td><%=value%></td></tr>
<% end %></table>