<h1>Submission#show</h1>
<table>
<% for (key,value) in @submission.attributes %>
    <tr><td><b><%=key%></b></td><td><%=value%></td></tr>
<% end %>
  <%# if @submission.file %>
  <%#=link_to "Download Attachment",url_for(@submission.file) %>
    <%# end %>
</table>
