<aside class="sidebar" id="nav">

  <!-- ========== Nav ========== -->
  <nav class="local-nav" aria-label="main navigation">
    <h1 class="is-visuallyhidden">Menu</h1>
    <ul>
      <li><a class="is-active is-current" href="#content">Dashboard</a>
        <ul>
          <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/outputs">Outputs</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
