<a href="<%= new_form_path() %>" class="btn btn-primary pull-right">New Form</a>
<h2 class="sub-header">Your Forms</h2>

<div class="table-responsive">
  <table class="content-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Website/Property</th>
      <th>Submissions</th>
    </tr>
    </thead>
    <tbody>
    <% @forms.each do |form| %>
        <tr>
          <td><%= link_to form.name, form %> </td>
          <td><%= form.website%></td>
          <td><%= form.submissions.count %></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
