<a href="<%= new_output_path() %>" class="btn btn-primary pull-right">New Output</a>
<h2 class="sub-header">Your Outputs</h2>

<div class="table-responsive">
  <table class="content-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Jobs</th>

    </tr>
    </thead>
    <tbody>
    <% @outputs.each do |output| %>
        <tr>
          <td><%= link_to output.name, output_path(output) %></td>
          <td><%= output.type %></td>
          <td><%= output.output_jobs.count %></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
